/*COLORS: #F87060 #90A583 #465362 #942911 #FFC09F*/


body{
    padding: 2%;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
hr{
    border: 5px solid #90A583;
}

div{
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    margin: auto;
    width: max-content;
    height: max-content;
    color: #cccccc;
}
#a{
    background-color: #F87060;
}
.b{
    background-color: #90A583;
}
.c{
    background-color: #465362;
}
.d{
    background-color: #942911;
}
.e{
    background-color: #FFC09F;
}